/* .wy-side-nav-search: top left box in nav bar */
.wy-side-nav-search {
    background-color: #e10074;
}

/* broader content area */
.wy-nav-content {
    max-width: 1000px;
}

/* top left project name -> bigger */
.wy-side-nav-search > a.icon.icon-home {
    font-size: 160%;
}
