.wy-nav-top, .wy-side-nav-search, .wy-nav-side {
    background-color: #e10074;
}

.wy-nav-content-wrap {
    background: #fcfcfc;
}

.wy-menu > p > span {
    color: #fcfcfc !important;
}

.my-menu > li.toctree-l1 > a, li.toctree-l2 > a {
    color: #fcfcfc !important;
    background-color: #e10074 !important;
}

/* .wy-side-nav-search > a.icon.icon-home::before, */
footer > hr {
    clear: both;
    visibility: hidden;
}

.rst-content .section ol p, .rst-content .section ul p {
    margin-bottom: 0;
}

.wy-nav-content {
    max-width: 1000px;
}

.wy-nav-top,
.wy-side-nav-search > a.icon.icon-home {
    font-size: 160%;
}
